<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:config/fmp.properties"/>
    <import resource="classpath:config/spring.xml"/>

    <!-- Scans for @Repository, @Service -->
    <context:component-scan base-package="com.aimir"/>

    <!--  Process  -->
    <bean id="snmpProtocolHandler" class="com.aimir.fep.protocol.snmp.SnmpProtocolHandler"/>
    <bean id="snmpManagerAdapter" class="com.aimir.fep.protocol.snmp.SnmpManagerAdapter"/>

    <!-- ============================================== -->
    <!--               Processor Logger                 -->
    <!-- ============================================== -->
    <bean id="eventLogger" class="com.aimir.fep.protocol.fmp.log.EventLogger" init-method="init">
        <property name="logDirName" value="db/event"/>
        <property name="backupDirName" value="db/event/backup"/>
    </bean>
    <bean id="mdLogger" class="com.aimir.fep.protocol.fmp.log.MDLogger"  init-method="init">
        <property name="logDirName" value="db/md"/>
        <property name="backupDirName" value="db/md/backup"/>
    </bean>


    <!-- ============================================== -->
    <!--               Kafka Logger                 -->
    <!-- ============================================== -->
    <bean id="commLogEncoder"
          class="org.springframework.integration.kafka.serializer.avro.AvroReflectDatumBackedKafkaEncoder">
        <constructor-arg value="com.aimir.fep.util.Message" />
    </bean>

</beans>