<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:cxf="http://cxf.apache.org/core"
    xmlns:jaxws="http://cxf.apache.org/jaxws"
    xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx.xsd
		http://cxf.apache.org/core
        http://cxf.apache.org/schemas/core.xsd
        http://cxf.apache.org/jaxws
        http://cxf.apache.org/schemas/jaxws.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd">
		
    <import resource="spring.xml"/>
    
    <!-- Load CXF modules from cxf.jar -->
    <import resource="classpath:META-INF/cxf/cxf.xml" />
    <import resource="classpath:META-INF/cxf/cxf-servlet.xml" />
    
	<!-- Enable @WebService support -->
	<!-- 
    <import resource="classpath:org/codehaus/xfire/spring/xfire.xml"/>
    <bean id="webAnnotations" class="org.codehaus.xfire.annotations.jsr181.Jsr181WebAnnotations"/>
    <bean id="handlerMapping" class="org.codehaus.xfire.spring.remoting.Jsr181HandlerMapping">
        <property name="typeMappingRegistry" ref="xfire.typeMappingRegistry"/>
        <property name="xfire" ref="xfire"/>
        <property name="webAnnotations" ref="webAnnotations"/>
    </bean>
    <bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
        <property name="urlMap">
            <map>
                <entry key="/">
                    <ref bean="handlerMapping"/>
                </entry>
            </map>
        </property>
    </bean>
     -->

	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver"/>
	
	<!-- Image file Path @Autowired 01.0419 -->	
	<bean id="aimirFilePath" class="com.aimir.support.AimirFilePath">
		<property name="photoBasePath" value="uploadImg"/>
		<property name="photoTempPath" value="uploadImg/temp"/>
		
		<property name="devicePath" value="uploadImg/device"/>
		<property name="mcuPath"    value="uploadImg/mcu"/>
		<property name="modemPath"  value="uploadImg/modem"/>
		<property name="meterPath"  value="uploadImg/meter"/>
		
		<property name="defaultPath"  value="uploadImg/default"/>
        <property name="homeDevicePath"  value="uploadImg/homeDevice"/>		
	</bean>
	
    <!-- Service endpoint -->
    <!-- See http://incubator.apache.org/cxf/faq.html regarding CXF + Spring AOP -->
    <jaxws:endpoint id="MCUManagerService"
            implementorClass="com.aimir.service.device.impl.MCUManagerImpl"
            implementor="#mcuManager"
            address="/MCUManagerService">
            <jaxws:dataBinding>
                <bean class="org.apache.cxf.aegis.databinding.AegisDatabinding"/>
            </jaxws:dataBinding>
    </jaxws:endpoint>
    
    <jaxws:endpoint id="MeterManagerService"
            implementorClass="com.aimir.service.device.impl.MeterManagerImpl"
            implementor="#meterManager"
            address="/MeterManagerService">
            <jaxws:dataBinding>
                <bean class="org.apache.cxf.aegis.databinding.AegisDatabinding"/>
            </jaxws:dataBinding>
    </jaxws:endpoint>
    
    <jaxws:endpoint id="ModemManagerService"
            implementorClass="com.aimir.service.device.impl.ModemManagerImpl"
            implementor="#modemManager"
            address="/ModemManagerService">
            <jaxws:dataBinding>
                <bean class="org.apache.cxf.aegis.databinding.AegisDatabinding"/>
            </jaxws:dataBinding>
    </jaxws:endpoint>

    <jaxws:endpoint id="DeviceManagerService"
            implementorClass="com.aimir.service.device.impl.DeviceManagerWebServiceImpl"
            implementor="#deviceManagerWebService"
            address="/DeviceManagerService">
            <jaxws:dataBinding>
                <bean class="org.apache.cxf.aegis.databinding.AegisDatabinding"/>
            </jaxws:dataBinding>
    </jaxws:endpoint>
    
   <jaxws:endpoint id="CustomerManagerService"
            implementorClass="com.aimir.service.system.impl.CustomerManagerImpl"
            implementor="#customerManager"
            address="/CustomerManagerService">
            <jaxws:dataBinding>
                <bean class="org.apache.cxf.aegis.databinding.AegisDatabinding"/>
            </jaxws:dataBinding>
    </jaxws:endpoint> 
 
  	<jaxws:endpoint id="AuditLogService"
            implementorClass="com.aimir.service.system.impl.AuditLogManagerImpl"
            implementor="#auditLogManager"
            address="/AuditLogService">
	<jaxws:dataBinding>
                <bean class="org.apache.cxf.aegis.databinding.AegisDatabinding"/>
            </jaxws:dataBinding>
    </jaxws:endpoint>
    
  	 <jaxws:endpoint id="CircuitBreakerService"
            implementorClass="com.aimir.service.system.impl.CircuitBreakerManagerImpl"
            implementor="#circuitBreakerManager"
            address="/CircuitBreakerService">
            <jaxws:dataBinding>
                <bean class="org.apache.cxf.aegis.databinding.AegisDatabinding"/>
            </jaxws:dataBinding>
   	 </jaxws:endpoint>
   	 
   	 <jaxws:endpoint id="Co2FormulaService"
            implementorClass="com.aimir.service.system.impl.Co2FormulaManagerImpl"
            implementor="#co2formulaManager"
            address="/Co2FormulaService">
            <jaxws:dataBinding>
                <bean class="org.apache.cxf.aegis.databinding.AegisDatabinding"/>
            </jaxws:dataBinding>
   	 </jaxws:endpoint>
   	 
   	 <jaxws:endpoint id="CodeService"
            implementorClass="com.aimir.service.system.impl.CodeManagerImpl"
            implementor="#codeManager"
            address="/CodeService">
            <jaxws:dataBinding>
                <bean class="org.apache.cxf.aegis.databinding.AegisDatabinding"/>
            </jaxws:dataBinding>
   	 </jaxws:endpoint>
   	 
   	 <jaxws:endpoint id="ConsumptionMonitoringEmService"
            implementorClass="com.aimir.service.system.impl.ConsumptionMonitoringEmManagerImpl"
            implementor="#consumptionMonitoringEmManager"
            address="/ConsumptionMonitoringEmService">
            <jaxws:dataBinding>
                <bean class="org.apache.cxf.aegis.databinding.AegisDatabinding"/>
            </jaxws:dataBinding>
   	 </jaxws:endpoint>
   	 
   	 <jaxws:endpoint id="ConsumptionMonitoringGmService"
            implementorClass="com.aimir.service.system.impl.ConsumptionMonitoringGmManagerImpl"
            implementor="#consumptionMonitoringGmManager"
            address="/ConsumptionMonitoringGmService">
            <jaxws:dataBinding>
                <bean class="org.apache.cxf.aegis.databinding.AegisDatabinding"/>
            </jaxws:dataBinding>
   	 </jaxws:endpoint>
   	 
   	<jaxws:endpoint id="ConsumptionMonitoringWmService"
            implementorClass="com.aimir.service.system.impl.ConsumptionMonitoringWmManagerImpl"
            implementor="#consumptionMonitoringWmManager"
            address="/ConsumptionMonitoringWmService">
            <jaxws:dataBinding>
                <bean class="org.apache.cxf.aegis.databinding.AegisDatabinding"/>
            </jaxws:dataBinding>
   	 </jaxws:endpoint>
   	 
   	<jaxws:endpoint id="ContractCapacityService"
            implementorClass="com.aimir.service.system.impl.ContractCapacityManagerImpl"
            implementor="#contractCapacityManager"
            address="/ContractCapacityService">
            <jaxws:dataBinding>
                <bean class="org.apache.cxf.aegis.databinding.AegisDatabinding"/>
            </jaxws:dataBinding>
   	 </jaxws:endpoint>

	<jaxws:endpoint id="ContractChangeLogService"
            implementorClass="com.aimir.service.system.impl.ContractChangeLogManagerImpl"
            implementor="#contractChangeLogManager"
            address="/ContractChangeLogService">
            <jaxws:dataBinding>
                <bean class="org.apache.cxf.aegis.databinding.AegisDatabinding"/>
            </jaxws:dataBinding>
   	 </jaxws:endpoint>
   	 
   	 <jaxws:endpoint id="ContractEnergyPeakDemandService"
            implementorClass="com.aimir.service.system.impl.ContractEnergyPeakDemandManagerImpl"
            implementor="#contractEnergyPeakDemandManager"
            address="/ContractEnergyPeakDemandService">
            <jaxws:dataBinding>
                <bean class="org.apache.cxf.aegis.databinding.AegisDatabinding"/>
            </jaxws:dataBinding>
   	 </jaxws:endpoint>
   	    	 
   	 <jaxws:endpoint id="CountryService"
            implementorClass="com.aimir.service.system.impl.CountryManagerImpl"
            implementor="#countryManager"
            address="/CountryService">
            <jaxws:dataBinding>
                <bean class="org.apache.cxf.aegis.databinding.AegisDatabinding"/>
            </jaxws:dataBinding>
   	 </jaxws:endpoint>
   	 
   	 <jaxws:endpoint id="ContractService"
            implementorClass="com.aimir.service.system.impl.ContractManagerImpl"
            implementor="#contractManager"
            address="/ContractService">
            <jaxws:dataBinding>
                <bean class="org.apache.cxf.aegis.databinding.AegisDatabinding"/>
            </jaxws:dataBinding>
   	 </jaxws:endpoint>
   	 
   	 <jaxws:endpoint id="DashboardGadgetService"
            implementorClass="com.aimir.service.system.impl.DashboardGadgetManagerImpl"
            implementor="#dashboardGadgetManager"
            address="/DashboardGadgetService">
            <jaxws:dataBinding>
                <bean class="org.apache.cxf.aegis.databinding.AegisDatabinding"/>
            </jaxws:dataBinding>
   	 </jaxws:endpoint>
   	 
   	 <jaxws:endpoint id="DashboardService"
            implementorClass="com.aimir.service.system.impl.DashboardManagerImpl"
            implementor="#dashboardManager"
            address="/DashboardService">
            <jaxws:dataBinding>
                <bean class="org.apache.cxf.aegis.databinding.AegisDatabinding"/>
            </jaxws:dataBinding>
   	 </jaxws:endpoint>
   	 
   	 <jaxws:endpoint id="DeviceConfigService"
            implementorClass="com.aimir.service.system.impl.DeviceConfigManagerImpl"
            implementor="#deviceConfigManager"
            address="/DeviceConfigService">
            <jaxws:dataBinding>
                <bean class="org.apache.cxf.aegis.databinding.AegisDatabinding"/>
            </jaxws:dataBinding>
   	 </jaxws:endpoint>
   	 
   	  <jaxws:endpoint id="DeviceModelService"
            implementorClass="com.aimir.service.system.impl.DeviceModelManagerImpl"
            implementor="#deviceModelManager"
            address="/DeviceModelService">
            <jaxws:dataBinding>
                <bean class="org.apache.cxf.aegis.databinding.AegisDatabinding"/>
            </jaxws:dataBinding>
   	 </jaxws:endpoint>
   	 
  	  <jaxws:endpoint id="DeviceVendorService"
            implementorClass="com.aimir.service.system.impl.DeviceVendorManagerImpl"
            implementor="#deviceVendorManager"
            address="/DeviceVendorService">
            <jaxws:dataBinding>
                <bean class="org.apache.cxf.aegis.databinding.AegisDatabinding"/>
            </jaxws:dataBinding>
   	 </jaxws:endpoint>
   	 
<!--  	  <jaxws:endpoint id="EnergyBalanceMonitoringService"
            implementorClass="com.aimir.service.system.impl.EnergyBalanceMonitoringManagerImpl"
            implementor="#energyBalanceMonitoringManager"
            address="/EnergyBalanceMonitoringService">
            <jaxws:dataBinding>
                <bean class="org.apache.cxf.aegis.databinding.AegisDatabinding"/>
            </jaxws:dataBinding>
   	 </jaxws:endpoint>
   	 
   	 <jaxws:endpoint id="EnergySavingGoal2Service"
            implementorClass="com.aimir.service.system.impl.EnergySavingGoal2ManagerImpl"
            implementor="#energySavingGoal2Manager"
            address="/EnergySavingGoal2Service">
            <jaxws:dataBinding>
                <bean class="org.apache.cxf.aegis.databinding.AegisDatabinding"/>
            </jaxws:dataBinding>
   	 </jaxws:endpoint>
   	 
   	 <jaxws:endpoint id="EnergySavingGoalService"
            implementorClass="com.aimir.service.system.impl.EnergySavingGoalManagerImpl"
            implementor="#energySavingGoalManager"
            address="/EnergySavingGoalService">
            <jaxws:dataBinding>
                <bean class="org.apache.cxf.aegis.databinding.AegisDatabinding"/>
            </jaxws:dataBinding>
   	 </jaxws:endpoint> -->
   	 
    <jaxws:endpoint id="ExhibitionUsageService"
            implementorClass="com.aimir.service.system.impl.ExhibitionUsageManagerImpl"
            implementor="#exhibitionUsageManager"
            address="/ExhibitionUsageService">
            <jaxws:dataBinding>
                <bean class="org.apache.cxf.aegis.databinding.AegisDatabinding"/>
            </jaxws:dataBinding>
   	 </jaxws:endpoint>
   	 
     <jaxws:endpoint id="GadgetService"
            implementorClass="com.aimir.service.system.impl.GadgetManagerImpl"
            implementor="#gadgetManager"
            address="/GadgetService">
            <jaxws:dataBinding>
                <bean class="org.apache.cxf.aegis.databinding.AegisDatabinding"/>
            </jaxws:dataBinding>
   	 </jaxws:endpoint>
   	 
   	 <jaxws:endpoint id="GadgetRoleService"
            implementorClass="com.aimir.service.system.impl.GadgetRoleManagerImpl"
            implementor="#gadgetRoleManager"
            address="/GadgetRoleService">
            <jaxws:dataBinding>
                <bean class="org.apache.cxf.aegis.databinding.AegisDatabinding"/>
            </jaxws:dataBinding>
   	 </jaxws:endpoint>
   	 
  	 <jaxws:endpoint id="GroupMgmtService"
            implementorClass="com.aimir.service.system.impl.GroupMgmtManagerImpl"
            implementor="#groupMgmtManager"
            address="/GroupMgmtService">
            <jaxws:dataBinding>
                <bean class="org.apache.cxf.aegis.databinding.AegisDatabinding"/>
            </jaxws:dataBinding>
   	 </jaxws:endpoint>
   	 
   	 <jaxws:endpoint id="KTSeochoExhibitService"
            implementorClass="com.aimir.service.system.impl.KTSeochoExhibitManagerImpl"
            implementor="#ktSeochoExhibitManager"
            address="/KTSeochoExhibitService">
            <jaxws:dataBinding>
                <bean class="org.apache.cxf.aegis.databinding.AegisDatabinding"/>
            </jaxws:dataBinding>
   	 </jaxws:endpoint>
   	 
   	 <jaxws:endpoint id="LanguageService"
            implementorClass="com.aimir.service.system.impl.LanguageManagerImpl"
            implementor="#languageManager"
            address="/LanguageService">
            <jaxws:dataBinding>
                <bean class="org.apache.cxf.aegis.databinding.AegisDatabinding"/>
            </jaxws:dataBinding>
   	 </jaxws:endpoint>
   	 
   	 <jaxws:endpoint id="LocationService"
            implementorClass="com.aimir.service.system.impl.LocationManagerImpl"
            implementor="#locationManager"
            address="/LocationService">
            <jaxws:dataBinding>
                <bean class="org.apache.cxf.aegis.databinding.AegisDatabinding"/>
            </jaxws:dataBinding>
   	 </jaxws:endpoint>
   	    	 
<!--    	 <jaxws:endpoint id="LocationUsageStatisticService"
            implementorClass="com.aimir.service.system.impl.LocationUsageStatisticManagerImpl"
            implementor="#locationUsageStatisticManager"
            address="/LocationUsageStatisticService">
            <jaxws:dataBinding>
                <bean class="org.apache.cxf.aegis.databinding.AegisDatabinding"/>
            </jaxws:dataBinding>
   	 </jaxws:endpoint> -->
   	 
   	 <jaxws:endpoint id="MemoService"
            implementorClass="com.aimir.service.system.impl.MemoManagerImpl"
            implementor="#memoManager"
            address="/MemoService">
            <jaxws:dataBinding>
                <bean class="org.apache.cxf.aegis.databinding.AegisDatabinding"/>
            </jaxws:dataBinding>
   	 </jaxws:endpoint>
   	 
   	 <jaxws:endpoint id="MeterConfigService"
            implementorClass="com.aimir.service.system.impl.MeterConfigManagerImpl"
            implementor="#meterConfigManager"
            address="/MeterConfigService">
            <jaxws:dataBinding>
                <bean class="org.apache.cxf.aegis.databinding.AegisDatabinding"/>
            </jaxws:dataBinding>
   	 </jaxws:endpoint>
 
<!--    	 <jaxws:endpoint id="MeterProgramService"
            implementorClass="com.aimir.service.system.impl.MeterProgramManagerImpl"
            implementor="#meterProgramManager"
            address="/MeterProgramService">
            <jaxws:dataBinding>
                <bean class="org.apache.cxf.aegis.databinding.AegisDatabinding"/>
            </jaxws:dataBinding>
   	 </jaxws:endpoint> -->
   	 
   	 <jaxws:endpoint id="ModemConfigService"
            implementorClass="com.aimir.service.system.impl.ModemConfigManagerImpl"
            implementor="#modemConfigManager"
            address="/ModemConfigService">
            <jaxws:dataBinding>
                <bean class="org.apache.cxf.aegis.databinding.AegisDatabinding"/>
            </jaxws:dataBinding>
   	 </jaxws:endpoint>
   	 
  	 <jaxws:endpoint id="NoticeService"
            implementorClass="com.aimir.service.system.impl.NoticeManagerImpl"
            implementor="#noticeManager"
            address="/NoticeService">
            <jaxws:dataBinding>
                <bean class="org.apache.cxf.aegis.databinding.AegisDatabinding"/>
            </jaxws:dataBinding>
   	 </jaxws:endpoint>
   	 
   	 <jaxws:endpoint id="OperatorService"
            implementorClass="com.aimir.service.system.impl.OperatorManagerImpl"
            implementor="#operatorManager"
            address="/OperatorService">
            <jaxws:dataBinding>
                <bean class="org.apache.cxf.aegis.databinding.AegisDatabinding"/>
            </jaxws:dataBinding>
   	 </jaxws:endpoint>
   	 
   	 <jaxws:endpoint id="PrepaymentLogService"
            implementorClass="com.aimir.service.system.impl.PrepaymentLogManagerImpl"
            implementor="#prepaymentLogManager"
            address="/PrepaymentLogService">
            <jaxws:dataBinding>
                <bean class="org.apache.cxf.aegis.databinding.AegisDatabinding"/>
            </jaxws:dataBinding>
   	 </jaxws:endpoint>
   	 
   	 <jaxws:endpoint id="ProfileService"
            implementorClass="com.aimir.service.system.impl.ProfileManagerImpl"
            implementor="#profileManager"
            address="/ProfileService">
            <jaxws:dataBinding>
                <bean class="org.apache.cxf.aegis.databinding.AegisDatabinding"/>
            </jaxws:dataBinding>
   	 </jaxws:endpoint>
   	 
  	 <jaxws:endpoint id="ReportMgmtService"
            implementorClass="com.aimir.service.system.impl.ReportMgmtManagerImpl"
            implementor="#reportMgmtManager"
            address="/ReportMgmtService">
            <jaxws:dataBinding>
                <bean class="org.apache.cxf.aegis.databinding.AegisDatabinding"/>
            </jaxws:dataBinding>
   	 </jaxws:endpoint>
 
  	 <jaxws:endpoint id="RoleService"
            implementorClass="com.aimir.service.system.impl.RoleManagerImpl"
            implementor="#roleManager"
            address="/RoleService">
            <jaxws:dataBinding>
                <bean class="org.apache.cxf.aegis.databinding.AegisDatabinding"/>
            </jaxws:dataBinding>
   	 </jaxws:endpoint>
   	 
  	 <jaxws:endpoint id="ScheduleMgmtService"
            implementorClass="com.aimir.service.system.impl.ScheduleMgmtManagerImpl"
            implementor="#scheduleMgmtManager"
            address="/ScheduleMgmtService">
            <jaxws:dataBinding>
                <bean class="org.apache.cxf.aegis.databinding.AegisDatabinding"/>
            </jaxws:dataBinding>
   	 </jaxws:endpoint>

  	 <jaxws:endpoint id="ScheduleResultLogService"
            implementorClass="com.aimir.service.system.impl.ScheduleResultLogManagerImpl"
            implementor="#scheduleResultLogManager"
            address="/ScheduleResultLogService">
            <jaxws:dataBinding>
                <bean class="org.apache.cxf.aegis.databinding.AegisDatabinding"/>
            </jaxws:dataBinding>
   	 </jaxws:endpoint>
   	 
   	 <jaxws:endpoint id="SupplierService"
            implementorClass="com.aimir.service.system.impl.SupplierManagerImpl"
            implementor="#supplierManager"
            address="/SupplierService">
            <jaxws:dataBinding>
                <bean class="org.apache.cxf.aegis.databinding.AegisDatabinding"/>
            </jaxws:dataBinding>
   	 </jaxws:endpoint>
   	
   	 <jaxws:endpoint id="SupplierMgmtService"
            implementorClass="com.aimir.service.system.impl.SupplierMgmtManagerImpl"
            implementor="#supplierMgmtManager"
            address="/SupplierMgmtService">
            <jaxws:dataBinding>
                <bean class="org.apache.cxf.aegis.databinding.AegisDatabinding"/>
            </jaxws:dataBinding>
   	 </jaxws:endpoint>

   	<jaxws:endpoint id="SupplyCapacityLogService"
            implementorClass="com.aimir.service.system.impl.SupplyCapacityLogManagerImpl"
            implementor="#supplyCapacityLogManager"
            address="/SupplyCapacityLogService">
            <jaxws:dataBinding>
                <bean class="org.apache.cxf.aegis.databinding.AegisDatabinding"/>
            </jaxws:dataBinding>
   	 </jaxws:endpoint>
 
  	 <jaxws:endpoint id="SupplyTypeService"
            implementorClass="com.aimir.service.system.impl.SupplyTypeManagerImpl"
            implementor="#supplyTypeManager"
            address="/SupplyTypeService">
            <jaxws:dataBinding>
                <bean class="org.apache.cxf.aegis.databinding.AegisDatabinding"/>
            </jaxws:dataBinding>
   	 </jaxws:endpoint>   	 

  	 <jaxws:endpoint id="TagService"
            implementorClass="com.aimir.service.system.impl.TagManagerImpl"
            implementor="#tagManager"
            address="/TagService">
            <jaxws:dataBinding>
                <bean class="org.apache.cxf.aegis.databinding.AegisDatabinding"/>
            </jaxws:dataBinding>
   	 </jaxws:endpoint>      	
   	 
  	 <jaxws:endpoint id="TariffTypeService"
            implementorClass="com.aimir.service.system.impl.TariffTypeManagerImpl"
            implementor="#tariffTypeManager"
            address="/TariffTypeService">
            <jaxws:dataBinding>
                <bean class="org.apache.cxf.aegis.databinding.AegisDatabinding"/>
            </jaxws:dataBinding>
   	 </jaxws:endpoint>    

   	 <jaxws:endpoint id="TimeZoneService"
            implementorClass="com.aimir.service.system.impl.TimeZoneManagerImpl"
            implementor="#timezoneManager"
            address="/TimeZoneService">
            <jaxws:dataBinding>
                <bean class="org.apache.cxf.aegis.databinding.AegisDatabinding"/>
            </jaxws:dataBinding>
   	 </jaxws:endpoint> 
   	 
   	 <jaxws:endpoint id="ZoneService"
            implementorClass="com.aimir.service.system.impl.ZoneManagerImpl"
            implementor="#zoneManager"
            address="/ZoneService">
            <jaxws:dataBinding>
                <bean class="org.apache.cxf.aegis.databinding.AegisDatabinding"/>
            </jaxws:dataBinding>
   	 </jaxws:endpoint>    
   	 
   	  <jaxws:endpoint id="MvmService"
            implementorClass="com.aimir.service.mvm.impl.MvmDetailViewManagerImpl"
            implementor="#mvmDetailViewManager"
            address="/MvmService">
            <jaxws:dataBinding>
                <bean class="org.apache.cxf.aegis.databinding.AegisDatabinding"/>
            </jaxws:dataBinding>
   	 </jaxws:endpoint>
   	 
     <jaxws:endpoint id="AppService"
            implementorClass="com.aimir.service.system.impl.AppServiceManagerImpl"
            implementor="#appServiceManager"
            address="/AppService">
            <jaxws:dataBinding>
                <bean class="org.apache.cxf.aegis.databinding.AegisDatabinding"/>
            </jaxws:dataBinding>
     </jaxws:endpoint> 
</beans>