<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:beans="http://www.springframework.org/schema/beans"
    xmlns:jaxws="http://cxf.apache.org/jaxws"
    xmlns:jaxrs="http://cxf.apache.org/jaxrs"
    xmlns:sec="http://cxf.apache.org/configuration/security"
    xmlns:http="http://cxf.apache.org/transports/http/configuration"
    xmlns:httpj="http://cxf.apache.org/transports/http-jetty/configuration"      
    xsi:schemaLocation="
         http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd
         http://cxf.apache.org/jaxws
         http://cxf.apache.org/schemas/jaxws.xsd
         http://cxf.apache.org/jaxrs
         http://cxf.apache.org/schemas/jaxrs.xsd
         http://cxf.apache.org/configuration/security
         http://cxf.apache.org/schemas/configuration/security.xsd
         http://cxf.apache.org/transports/http/configuration
         http://cxf.apache.org/schemas/configuration/http-conf.xsd
         http://cxf.apache.org/transports/http-jetty/configuration
         http://cxf.apache.org/schemas/configuration/http-jetty.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context.xsd
         http://www.springframework.org/schema/tx
         http://www.springframework.org/schema/tx/spring-tx.xsd">
        
    <context:property-placeholder location="classpath:config/multispeak.properties"/>
    <import resource="classpath:META-INF/cxf/cxf.xml"/>
    <import resource="classpath:META-INF/cxf/cxf-extension-soap.xml"/>
    <import resource="classpath:META-INF/cxf/cxf-servlet.xml"/>
    
    <bean id="dataSource" class="com.jolbox.bonecp.BoneCPDataSource" destroy-method="close">
        <property name="driverClass" value="${jdbc.driverClassName}"/>
        <property name="jdbcUrl" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
        <property name="idleConnectionTestPeriodInMinutes" value="5"/>
        <property name="idleMaxAgeInMinutes" value="60"/>
        <property name="maxConnectionsPerPartition" value="5"/>
        <property name="minConnectionsPerPartition" value="2"/>
        <property name="partitionCount" value="3"/>
        <property name="acquireIncrement" value="1"/>
        <property name="statementsCacheSize" value="100"/>
    </bean>
    
    <!-- Annotation Support Hibernate Session Factory -->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">${hibernate.dialect}</prop>
                <prop key="hibernate.format_sql">true</prop>
                <prop key="hibernate.show_sql">false</prop>
                <prop key="hibernate.bytecode.use_reflection_optimizer">true</prop>
                <prop key="hibernate.use_sql_comments">false</prop>
                <!--<prop key="hibernate.hbm2ddl.auto">create-drop</prop>-->
                <!--<prop key="hibernate.hbm2ddl.auto">create</prop>-->
                <!--<prop key="hibernate.hbm2ddl.auto">validate</prop>-->
                <prop key="hibernate.hbm2ddl.auto">false</prop>
                <prop key="hibernate.connection.autocommit">false</prop>
                <!--<prop key="hibernate.query.substitutions">Y</prop>-->
                <prop key="hibernate.cache.use_second_level_cache">true</prop>
                <prop key="hibernate.cache.use_second_level_cache">org.hibernate.cache.EhCacheProvider</prop>
                <!-- Turn batching off for better error messages under PostgreSQL>-->
                <!--prop key="hibernate.jdbc.batch_size">0</prop-->
                <!-- 0:none, 1:read_uncommitted, 2:read_committed, 4:repeatable_read, 8:serializable -->
                <prop key="hibernate.connection.isolation">1</prop>
                <prop key="hibernate.transaction.flush_before_completion">true</prop>
                <prop key="hibernate.transaction.auto_close_session">false</prop>
            </props>
        </property>
        <property name="packagesToScan">
            <list>
                <value>com.aimir.model.*</value>
            </list>
        </property>
    </bean>

    <!-- Transaction manager for a single Hibernate SessionFactory (alternative to JTA) -->
    <bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    
    <bean id="sessionContextFactory" class="org.springframework.beans.factory.config.ObjectFactoryCreatingFactoryBean">
        <property name="targetBeanName" value="sessionContext" />
    </bean>
    
    <!-- Enable @Transactional support -->
    <tx:annotation-driven transaction-manager="transactionManager" />
    
    <!-- Activates scanning of @Autowired -->            
    <context:annotation-config/>
    
    <!-- Scans for @Repository, @Service -->
    <context:component-scan base-package="com.aimir"/>

    <jaxws:endpoint id="CB_Server"
         implementorClass="com.aimir.fep.integration.multispeak.server.CB_Server"
         implementor="#cB_Server"
         address="/CB_Server">
        <jaxws:properties>
            <entry key="faultStackTraceEnabled" value="true" />
            <entry key="exceptionMessageCauseEnabled" value="true" />
            <entry key="MessageLogger" value-ref="logger1"/>
        </jaxws:properties>
        <jaxws:features>
            <bean class="org.apache.cxf.feature.LoggingFeature"/>
        </jaxws:features>
    </jaxws:endpoint>
    
    <jaxws:endpoint id="CD_Server"
         implementorClass="com.aimir.fep.integration.multispeak.server.CD_Server"
         implementor="#cD_Server"
         address="/CD_Server">
        <jaxws:properties>
            <entry key="faultStackTraceEnabled" value="true" />
            <entry key="exceptionMessageCauseEnabled" value="true" />
            <entry key="MessageLogger" value-ref="logger2"/>
        </jaxws:properties>
        <jaxws:features>
            <bean class="org.apache.cxf.feature.LoggingFeature"/>
        </jaxws:features>
    </jaxws:endpoint>
    
    <jaxws:endpoint id="OD_Server"
         implementorClass="com.aimir.fep.integration.multispeak.server.OD_Server"
         implementor="#oD_Server"
         address="/OD_Server">
        <jaxws:properties>
            <entry key="faultStackTraceEnabled" value="true" />
            <entry key="exceptionMessageCauseEnabled" value="true" />
            <entry key="MessageLogger" value-ref="logger3"/>
        </jaxws:properties>
        <jaxws:features>
            <bean class="org.apache.cxf.feature.LoggingFeature"/>
        </jaxws:features>
    </jaxws:endpoint>
    
    <jaxws:endpoint id="MR_Server"
         implementorClass="com.aimir.fep.integration.multispeak.server.MR_Server"
         implementor="#mR_Server"
         address="/MR_Server">
        <jaxws:properties>
            <entry key="faultStackTraceEnabled" value="true" />
            <entry key="exceptionMessageCauseEnabled" value="true" />
            <entry key="MessageLogger" value-ref="logger4"/>
        </jaxws:properties>
        <jaxws:features>
            <bean class="org.apache.cxf.feature.LoggingFeature"/>
        </jaxws:features>
    </jaxws:endpoint>

    <bean id="logger1" class="org.apache.cxf.common.logging.LogUtils" factory-method="getLogger">
        <constructor-arg value="com.aimir.fep.integration.multispeak.server.CB_Server"/>
    </bean>
    <bean id="logger2" class="org.apache.cxf.common.logging.LogUtils" factory-method="getLogger">
        <constructor-arg value="com.aimir.fep.integration.multispeak.server.CD_Server"/>
    </bean>
    <bean id="logger3" class="org.apache.cxf.common.logging.LogUtils" factory-method="getLogger">
        <constructor-arg value="com.aimir.fep.integration.multispeak.server.OD_Server"/>
    </bean>
    <bean id="logger4" class="org.apache.cxf.common.logging.LogUtils" factory-method="getLogger">
        <constructor-arg value="com.aimir.fep.integration.multispeak.server.MR_Server"/>
    </bean>
    

    <!-- Active MQ -->
    <bean id="activeMQConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
        <property name="brokerURL">
            <value>${activemq.broker.url}</value>
        </property>
    </bean>

    <bean id="activeCachingConnectionFactory" class="org.springframework.jms.connection.CachingConnectionFactory">
        <property name="targetConnectionFactory" ref="activeMQConnectionFactory"/>
        <property name="reconnectOnException" value="true"/>
    </bean>

    <bean id="activeJmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref="activeCachingConnectionFactory"/>        
    </bean>
    
    <bean id="cdProcessor" class="com.aimir.fep.integration.multispeak.queue.CDProcessor"/>
    <bean id="cbProcessor" class="com.aimir.fep.integration.multispeak.queue.CBProcessor"/>
    <bean id="mrProcessor" class="com.aimir.fep.integration.multispeak.queue.MRProcessor"/>
    <bean id="odProcessor" class="com.aimir.fep.integration.multispeak.queue.ODProcessor"/>

    <bean id="cdProcessorContainer" class="org.springframework.jms.listener.DefaultMessageListenerContainer">
        <property name="connectionFactory" ref="activeCachingConnectionFactory"/>
        <property name="destinationName" value="${MultiSpeak.CD_MESSAGE}"/>
        <property name="messageListener" ref="cdProcessor"/>
        <property name="concurrentConsumers" value="${jms.concurrent.consumers}"/>
        <property name="maxConcurrentConsumers" value="${jms.concurrent.consumers}"/>
        <!--  <property name="transactionManager" ref="jmsTransactionManager"/> -->
        <!--  <property name="maxMessagePerTask" value="10(long lived) to 100(short lived) default unlimited(-1)"/> -->
    </bean>
    
    <bean id="cbProcessorContainer" class="org.springframework.jms.listener.DefaultMessageListenerContainer">
        <property name="connectionFactory" ref="activeCachingConnectionFactory"/>
        <property name="destinationName" value="${MultiSpeak.CB_MESSAGE}"/>
        <property name="messageListener" ref="cbProcessor"/>
        <property name="concurrentConsumers" value="${jms.concurrent.consumers}"/>
        <property name="maxConcurrentConsumers" value="${jms.concurrent.consumers}"/>
        <!--  <property name="transactionManager" ref="jmsTransactionManager"/> -->
        <!--  <property name="maxMessagePerTask" value="10(long lived) to 100(short lived) default unlimited(-1)"/> -->
    </bean>
    
    <bean id="mrProcessorContainer" class="org.springframework.jms.listener.DefaultMessageListenerContainer">
        <property name="connectionFactory" ref="activeCachingConnectionFactory"/>
        <property name="destinationName" value="${MultiSpeak.MR_MESSAGE}"/>
        <property name="messageListener" ref="mrProcessor"/>
        <property name="concurrentConsumers" value="${jms.concurrent.consumers}"/>
        <property name="maxConcurrentConsumers" value="${jms.concurrent.consumers}"/>
        <!--  <property name="transactionManager" ref="jmsTransactionManager"/> -->
        <!--  <property name="maxMessagePerTask" value="10(long lived) to 100(short lived) default unlimited(-1)"/> -->
    </bean>

    <bean id="odProcessorContainer" class="org.springframework.jms.listener.DefaultMessageListenerContainer">
        <property name="connectionFactory" ref="activeCachingConnectionFactory"/>
        <property name="destinationName" value="${MultiSpeak.OD_MESSAGE}"/>
        <property name="messageListener" ref="odProcessor"/>
        <property name="concurrentConsumers" value="${jms.concurrent.consumers}"/>
        <property name="maxConcurrentConsumers" value="${jms.concurrent.consumers}"/>
        <!--  <property name="transactionManager" ref="jmsTransactionManager"/> -->
        <!--  <property name="maxMessagePerTask" value="10(long lived) to 100(short lived) default unlimited(-1)"/> -->
    </bean>
</beans>
